
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <h2>Bienvenido</h2>
    </div>
</div>


<div class="row">
    <div class="col-12">
        @{Html.RenderPartial("_FormUser");}
    </div>
</div>



